<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rober Palestini - Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/portfolio.css">
    <link rel="stylesheet" href="/stylesheets/admin.css">
    
</head>
<body>
    <header>
        <div class="holder">
<img src="/images/logo.png" width="100" alt="Rober Palestini"/>
<h1>r.p</h1>
        </div>
</header>

    <main class="holder">
        
{{{body}}}

    </main>

        <footer>
        <p>Diseñado por Rober Palestini</p>
    </footer>
</body>
</html>